
@import "setup";
@import "variables";
@import "mixins";

/*Base Styles*/

body {
	font-family: $bodyFont;
	background: $white;
	color: $black;
	font-size: 16px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1250px;
}

.standout {
	border-bottom: 2px solid $orange;
	font-style: italic;
}

/*Typography Styles*/

h1, h2, h3 {
	font-family: $headerFont;
}

h1 {
	font-size: 2.5rem;
	color: $orange;
  	margin: 0;
  	text-transform: uppercase;
  	text-shadow: 1px 1px 4px $black;
}

h2 {
	font-size: 2rem;
	color: #111;
}

h3 {
	font-size: 1.5rem;
}

p {
	line-height: 1.5;
}

a {
	color: $pink;
	text-decoration: none;
	border-bottom: 2px solid $pink;
	font-weight: 700;
	&:hover,
	&:focus {
		border-bottom: none;
	}
}

img {
	max-width: 100%;
}

/*Header Styles*/



header {
	@include background-img('../images/girl-edit.jpg');
	background-attachment: fixed;
	position: relative;
	height: 90vh;
}

.branding {
	margin-left: 2%;
	width: 55%;
	position: absolute;
	bottom: 2%;
	p {
		letter-spacing: 1px;
		font-family: $headerFont;
		font-size: 1.5rem;
		color: $white;
		text-shadow: 1px 1px 4px #000;
	}
	
}

/*Navigation Menu Styles*/

.nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: $black;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10vh;
	z-index: 999;
	li {
		display: inline-block;
		padding: 25px 20px;
	}
	a {
		text-decoration: none;
		border: none;
		text-transform: uppercase;
		color: $turquoise;
		position: relative;
		transition: all 0.25s;
		padding-bottom: 3px;
		font-size: 1.2rem;
		font-weight: 400;
		&:hover,
		&:focus {
			color: $white;
		}
		&:after {
			content: "";
			background: linear-gradient(to right, $turquoise 0%, $turquoise 50%, transparent 50%, transparent 100%);
			background-position: 100% 0%;
			background-size: 200% 100%;
			width: 100%;
			height: 3px;
			position: absolute;
			top: 100%;
			left: 0;
			transition: all 0.5s;
		}

	}
}

ul.nav a:hover:after {
	background-position: 0 0;
}

.sticky-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/*General Section Styles*/

.section-half {
	float: left;
	width: 50%;
}

/*About Section Styles*/

.photo {
	min-height: 100vh;	
	overflow: hidden;
	img {
		display: block;	
		height: 100vh;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
.content {
	padding: 100px 50px 50px;
	p {
		margin: 30px 0;
	}
}

.social {
	margin: 0;
	padding: 0;
	margin-top: 50px;
	li {
		display: inline-block;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: #222;
		border: none;
		transition: all 0.25s ease-in-out;
		&:hover {
			color: $pink;
		}
	}
}

/*Work Section Styles*/

.portfolio {
	background: linear-gradient(#F4F4F4 0%, #F4F4F4 50%, #E5E5E5 50%, #E5E5E5 100%);
	background-attachment: fixed;
	background-size: 5px 5px;
	padding: 100px 0;
	h2 {
		margin: 0 auto;
		padding: 25px;
		background: rgba(255,255,255,0.6);
		text-align: center;
		width: 90%;
	}
	h3 {
		margin: 0;
	}
	p {
		margin: 15px 0;
	}
}

.portfolio-item {
	margin: 0 auto;
	margin-top: 50px;
	width: 90%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	background: $white;
	text-align: left;
	&:first-of-type {
		margin-top: 0;
	}
}

.portfolio-img,
.portfolio-info {
	float: left;
}

.portfolio-img {
	width: 45%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.portfolio-info {
	padding: 40px 25px;	
	width: 55%;
}

.portfolio-types {
	color: $pink;
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 1px dotted black;
	font-family: 'Questrial', sans-serif;
}

.portfolio-description {
	margin-bottom: 50px;
}

.portfolio-img-overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(45deg, rgba($turquoise,0.6) 0%, rgba($turquoise,0.6) 50%, transparent 50%, transparent 100%);
	width: 100%;
	height: 100%;
}

/*Footer Styles*/

footer {
	@include background-img('../images/footer.jpg');
	background-attachment: fixed;
	height: 100vh;
	padding: 15% 2% 2% 2%;
}

form {
	width: 55%;
}

input, textarea {
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	margin: 25px auto;
	display: block;
	width: 100%;
	padding: 10px;
}

.btn {
	border: none;
	background: transparent;
	color: #111;
	float: right;
	transition: all 0.25s ease-in-out;
	font-weight: 700;
	&:hover {
		color: $orange;
	}
}

/*Visually Hide Label Elements from Screen*/

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }

/*Media Queries*/

@media all and (max-width: 1095px) {
	.section-half {
		float: none;
		width: 100%;
	}
	.photo {
		height: 55vh;
		img {
			-o-object-fit: none;
			object-fit: none;
		}
	}

	.portfolio-img {
		height: 55vh;
	}

	.content {
		text-align: center;
		padding: 50px;
	}

	footer {
		height: 90vh;
	}
}

@media all and (max-width: 825px) {
	.portfolio h2, .portfolio-item {
		text-align: center;
		width: 80%;
	}
	.portfolio-img, .portfolio-info {
		float: none;
		width: 100%;
	}
	footer {
		text-align: center;		
	}
	form {
		margin: 0 auto;
		background: rgba(255,255,255, 0.8);
		padding: 1%;
		width: 80%;
	}
}

@media all and (max-width: 750px) {
	.branding {
		width: 100%;
		text-align: center;
	}
}

@media all and (max-width: 550px) {
	.branding {
		bottom: 15%;
		p {
			font-size: 1.2rem;
		}
	}
	.nav {
		padding: 0;
		height: 20vh;
		li {
			width: 48%;
		}
	}
	footer {
		height: 80vh;
	}
}
